
<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="../temp/temp/index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto justify-content-end">
            <li class="nav-item"><a class="nav-link" href="../temp/temp/about.html">About this page</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../temp/temp/Sitemap.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Table of Contents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../temp/temp/Sitemap.html">Sitemap</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</header>